/* Reset css */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset css end */

body {
    margin: 0;
    /* height: 100vh; */
    
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #1f2224;
    display: flex;
    justify-content: space-around
}

.logo {
    text-decoration: none;
}

.logotype {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 15px;

}

.like_top {
    width: 40px;
    height: 30px;
    background-color:blueviolet;
    cursor: pointer;
    margin-top: 15px;
}

.main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.thumb {
    flex: 1 1 400px; 
    max-width: 700px; 
    height: calc(400px * (3 / 4));
    box-sizing: border-box; 
    cursor: pointer;
    width: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    justify-content: flex-end;
    padding-bottom: 8px;
}

.thumb_1 {
    background: url('../images/thumbs/01.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_2 {
    background: url('../images/thumbs/02.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_3 {
    background: url('../images/thumbs/03.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_4 {
    background: url('../images/thumbs/04.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_5 {
    background: url('../images/thumbs/05.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_6 {
    background: url('../images/thumbs/06.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_7 {
    background: url('../images/thumbs/07.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_8 {
    background: url('../images/thumbs/08.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_9 {
    background: url('../images/thumbs/09.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_10 {
    background: url('../images/thumbs/10.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_11 {
    background: url('../images/thumbs/11.jpg');
    background-size: cover; 
    background-position: center; 
}
.thumb_12 {
    background: url('../images/thumbs/12.jpg');
    background-size: cover; 
    background-position: center; 
}

.popup-content {
    position: absolute;
    top: 5%;
    left: 10%;
    padding: 20px;
    width: 80%;
    display: none; /*/////////////////////////////////////*/
}

.icon-container{
    display: flex;
    justify-content: center;
}

.like-icon{
    width: 35px;
    height: 35px;
    border: white 3px solid;
    margin-right: 10px;
}

.like-icon:hover{
    background: #f40509b2;
}
 
.dislike-icon{
    width: 40px;
    height: 40px;
    background: #822a078e;
    margin-left: 10px;
}

.liked {
    background: #f40509b2; /* Цвет, который будет применяться при активации */
}
